@font-face {
  font-family: "PT Sans";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/ptsans.woff2") format("woff2"), url("fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-weight: bold;
  font-style: normal;
  src: url("fonts/ptsansbold.woff2") format("woff2"), url("fonts/ptsansbold.woff") format("woff");
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.page-header {
  width: 320px;
  min-height: 56px;
  margin: 0 auto;
  position: relative;
}
.page-header__logo {
  position: absolute;
  margin-left: 110px;
}
.main-nav {
  display: none;
}
.page-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
  height: 389px;
  margin: 0 auto;
  background: #767e83 url(../img/bg-back-mobile@1x.jpg) no-repeat center;
}
.advantages {
  width: 320px;
  margin: 0 auto;
}
.advantages__title-wrap {
  padding: 45px 0 30px;
}
.advantages__title-main {
  margin: 0;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
.advantages__title-text {
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}
.advantages__item-blue {
  padding: 60px 20px 40px;
  background-color: #81b3d2;
  text-align: center;
  font-weight: normal;
  color: #ffffff;
}
.advantages__title {
  font-size: 21px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
}
.advantages__text {
  text-transform: uppercase;
}
.advantages__title--white {
  color: #ffffff;
}
.advantages__wrap-2 {
  padding: 30px 0 30px 70px;
}
.advantages-photo {
  height: 260px;
}
.advantages__item {
  position: relative;
}
.advantages__item::before {
  content: "";
  position: absolute;
  left: -60px;
  top: 0;
  background: red;
}
.advantages__item--house::before {
  width: 38px;
  height: 37px;
  background: url(../img/icon-house.svg) no-repeat center;
  background-size: cover;
}
.advantages__item--gift::before {
  width: 33px;
  height: 38px;
  background: url(../img/icon-gift.svg) no-repeat center;
  background-size: cover;
}
.advantages__item--food::before {
  width: 38px;
  height: 35px;
  background: url(../img/icon-burger.svg) no-repeat center;
  background-size: cover;
}
.advantages__item-blue--2 {
  padding: 20px 0;
}
.advantages__wrap-4 {
  background-color: #e5e5e5;
}
.advantages__item-grey {
  width: 280px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  padding: 10px 0;
}
.advantages__item-grey::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 280px;
  background-color: #d6d6d6;
}
.search {
  width: 320px;
  margin: 0 auto;
  padding: 30px 20px 50px;
  text-align: center;
}
.search-title {
  color: #000000;
  font-size: 21px;
}
.search__title-text {
  text-transform: uppercase;
}
.search__btn {
  display: block;
  width: 280px;
  height: 60px;
  color: #ffffff;
  background-color: #81b3d2;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 60px;
}
.map {
  width: 320px;
  margin: 0 auto;
}
.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
  margin: 0 auto;
  padding: 40px 0 25px;
}
.page-footer__hashtag {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 21px;
  color: #000000;
  text-transform: uppercase;
}
.page-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.page-footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px ;
  height: 45px;
  margin-right: 6px;
  font-size: 0;
  background-color: #81b3d2;
}
.page-footer__social-link:hover {
  background-color: #669ec0;
}
.page-footer__social-link:active {
  background-color: #669ec0;
}
.page-footer__social-icon {
  fill: #ffffff;
}
.page-footer__copyright-text {
  color: #000000;
  text-transform: uppercase;
}
.page-footer__copyright-link {
  font-size: 0;
  width: 27px;
  height: 34px;
}
.page-footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-footer__copyright-icon {
  fill: #000000;
}
