.form__fieldset-name {
  position: relative;

  margin: 0;
  margin-bottom: 15px;
  padding: 7px 20px;

  border: none;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: #e5e5e5;
  }
}

.form__name-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form__fieldset-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.form__name-label {
  text-transform: uppercase;
}

.form__name-input {
  flex-grow: 1;
  height: 58px;
  margin-left: 15px;
  padding: 22px;

  font-weight: bold;
  font-size: 18px;
  font-family: "PT Sans", sans-serif;
  color: #000000;

  background-color: #f2f2f2;
  border: none;
  &::placeholder {
    font-weight: bold;
    font-size: 18px;
    color: #000000;
  }
}

//

.form__fieldset-contacts {
  position: relative;

  margin: 0;
  margin-bottom: 20px;
  padding: 7px 20px 12px;

  border: none;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: #e5e5e5;
  }
}

.form__contacts-item {
  display: flex;
  flex-direction: column;
}

.form__contacts-label {
  margin-bottom: 12px;
  margin-left: 20px;

  text-transform: uppercase;
}

.form__contacts-input-wrap {
  display: flex;
}

.form__contacts-input {
  flex-grow: 1;
  height: 58px;
  padding: 22px;

  font-weight: bold;
  font-size: 18px;
  font-family: "PT Sans", sans-serif;
  color: #000000;

  background-color: #f2f2f2;
  border: none;
  &::placeholder {
    font-weight: bold;
    font-size: 18px;
    color: #000000;
  }
}

.form__contacts-input-icon {
  display: inline-block;
  width: 58px;
  height: 58px;
  &--phone {
    background: #e6e6e6 url(../img/icon-phone.svg) no-repeat center;
  }
  &--mail {
    background: #e6e6e6 url(../img/icon-mail.svg) no-repeat center;
  }
}



//

.form__fieldset-impression {
  position: relative;

  margin: 0;
  margin-bottom: 20px;
  padding: 20px 20px 13px;

  border: none;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: #e5e5e5;
  }
}

.form__impression-item {
  position: relative;

  min-height: 60px;
  margin: 0;
  margin-bottom: 10px;
  padding-top: 15px;
}

.form__impression-input {
  display: none;
}

.form__impression-label {
  margin-left: 80px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 55px;
    height: 55px;

    background-color: #e5e5e5;
    border-radius: 50%;
  }
  &::after {
    content: "";
    position: absolute;
    top: 17px;
    left: 17px;

    display: none;
    width: 22px;
    height: 22px;

    background-color: #333333;
    border-radius: 50%;
  }
}

.form__impression-input:checked + .form__impression-label::after {
  display: block;
}

//

.form__fieldset-places {
  position: relative;

  margin: 0;
  margin-bottom: 20px;
  padding: 17px 20px 1px;

  border: none;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: #e5e5e5;
  }
}

.form__places-item {
  position: relative;

  min-height: 60px;
  margin: 0;
  margin-bottom: 20px;
  padding-top: 15px;
}

.form__places-input {
  display: none;
}

.form__places-label {
  margin-left: 80px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 55px;
    height: 55px;

    background-color: #e5e5e5;
    border-radius: 3px;
  }
  &::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 17px;

    display: none;
    width: 25px;
    height: 19px;

    background: url(../img/check.png) no-repeat center;
  }
}

.form__places-input:checked + .form__places-label::after {
  display: block;
}

//

.form__fieldset-describe {
  margin: 0;
  padding: 15px 20px;

  border: none;
}

.form__describe__textarea {
  width: 100%;
  min-height: 160px;
  padding: 20px;

  font-weight: bold;
  font-size: 18px;
  font-family: "PT Sans", sans-serif;
  color: #000000;

  background-color: #e5e5e5;
  border: none;
  &::placeholder {
    font-weight: bold;
    font-size: 18px;
    color: #000000;
  }
}

@media (min-width: 770px) {
  .form {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px;
  }

  //

  .form__fieldset-impression {
    order: -1;
    width: 324px;
    &::before {
      display: none;
    }
  }

  //

  .form__fieldset-name {
    width: 324px;

    border: none;
    &::before {
      display: none;
    }
  }

  .form__name-input {
    width: 100%;
  }

  //

  .form__fieldset-contacts {
    width: 100%;

    border-top: 1px solid #dbdbdb;
    &::before {
      display: none;
    }
  }

  .form__fieldset-title {
    padding: 0 60px;
  }

  //

  .form__fieldset-places {
    width: 100%;
    padding: 0 100px;
    &::before {
      display: none;
    }
  }

  .form__places-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__fieldset-describe {
    width: 100%;

    border-top: 1px solid #dbdbdb;
  }
}
