.gallery {
    width: 320px;
    margin: 0 auto;
}

.gallery__title-wrap {
  padding: 30px 25px;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  text-transform: uppercase;
}

.gallery__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.gallery__post {
  padding-bottom: 20px;
  margin-bottom: 23px;
  border-bottom: 1px solid #e5e5e5;
}

.gallery__description-name {
  color: #000000;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 20px
}

.gallery__description-author {
  margin: 0;
  margin-bottom: 10px;
}

.description__likes-amount {
  position: relative;
  font-weight: bold;
  color: #000000;
  padding-left: 40px
}

.description__likes-amount::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 23px;
  height: 21px;
  background: url(../img/icon-like.svg) no-repeat center;
}

.gallery__title-wrap--2 {
  padding-top: 10px;
  border: none;
}
