.gallery {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 30px
}

.gallery__title-wrap {
  padding: 20px 25px;
  margin-bottom: 20px;

  text-align: center;
  text-transform: uppercase;

  border-bottom: 1px solid #e5e5e5;
}

.gallery__title {
  margin-bottom: 25px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.gallery__title-text {
  line-height: 24px
}

.gallery__post {
  margin-bottom: 20px;
  padding: 0 20px 20px;


  border-bottom: 1px solid #e5e5e5;
}

.gallery__description-name {
  margin-bottom: 10px;
  font-size: 14px;

  font-weight: bold;
  line-height: 14px;
  color: #000000;
  text-transform: uppercase;
}

.gallery__description-author {
  margin: 0;
  margin-bottom: 10px;
}

.description__likes-amount {
  position: relative;

  padding-left: 40px;

  font-weight: bold;
  color: #000000;
}

.description__likes-amount::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;

  width: 23px;
  height: 21px;

  background: url(../img/icon-like.svg) no-repeat center;
}

.gallery__title-wrap--2 {
  padding: 0 25px;
  margin: 15px;
  border: none;
}

//

.gallery__player-screen {
  height: 200px;
  background: url(../img/video-mobile@1x.jpg) no-repeat center;
}

.gallery__player-controls {
  width: 280px;
  margin: 0 auto;
  padding-top: 23px;
  position: relative;
  height: 66px;
  background-color: #f2f2f2
}

.gallery__player-bar {
  width: 280px;
  height: 45px;
  position: absolute;
  top: -45px;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  &::before {
    content: "";
    position: absolute;
    top: 22px;
    left: 22px;
    height: 3px;
    width: 235px;
    background-color: rgba(256,256,256,0.2);
  }
  &::after {
    content: "";
    position: absolute;
    top: 19px;
    left: 58px;
    height: 9px;
    width: 9px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
  }
}

.gallery__player-button {
  border: none;
  background: none;
  padding: 0;
  &--1 {
    margin-left: 25px;
    width: 16px;
  }
  &--2 {
    margin-left: 133px;
    width: 32px;
  }
  &--3 {
    margin-left: 31px;
    width: 20px;
  }
}

.gallery__player-button-icon {
  fill: red
}

@media (min-width: 770px) {
  .gallery {
    width: 648px;
  }

  .gallery__wrap {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
  }

  .gallery__post {
    width: 324px;
    padding: 0;
  }

  .gallery__post--prime {
    width: 648px;
  }
}
