.page-intro {
  display: block;
  text-align: center;

  width: 318px;
  height: 160px;
  margin: 0 auto;
  margin-top: -35px;
  padding-top: 50px;
  background-color: #767e83;
  background-image: url(../img/bg-intro-triangle-mobile.svg), url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto, cover;
}

.page-intro--main {
  padding-top: 90px;
  height: 386px;
  background-size: auto, cover;
}

.page-intro__text {
  width: 280px;
}

@media (min-width: 770px) {
  .page-intro {
    margin-top: 0;
    background-image: url(../img/bg-intro-triangle-tablet.svg), url(../img/bg-back-tablet@1x.jpg);
    width: 768px;
    height: 290px;
    padding-top: 77px;
  }
  .page-intro--main{
    height: 517px;
  }

  .page-intro__text {
    width: 460px;
  }
}

@media (min-width: 1200px) {
  .page-intro {
    background-image: url(../img/bg-intro-triangle-desktop.svg), url(../img/bg-back-desktop@1x.jpg);
    width: 1200px;
    padding-top: 77px;
  }
}
