.page-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 160px;
  margin: 0 auto;
  background-color: #767e83;
  background-image: url(../img/bg-intro-triangle-mobile.svg), url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover, auto;
}

.page-intro--main {
  margin-top: -35px;
  height: 386px;
  background-size: cover;
}

.page-intro__img {
  width: 280px;
}

@media (min-width: 770px) {
  .page-intro {
    width: 770px
  }
  .page-intro--main{
    margin-top: 0;
    height: 517px;
    background-image: url(../img/bg-intro-triangle-tablet.svg), url(../img/bg-back-tablet@1x.jpg);
  }

  .page-intro__img {
    width: 460px;
  }
}
