.review {
  width: 320px;
  margin: 0 auto;
}

.review__title-wrap {
  text-align: center;
  text-transform: uppercase;
}

.review__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold
}

.review__title-text {
  line-height: 24px
}
