.search {
  width: 320px;
  margin: 0 auto;
  padding: 30px 20px 50px;
  text-align: center;
}

.search-title {
  color: #000000;
  font-size: 21px;
}

.search__title-text {
  text-transform: uppercase;
}

.search__btn {
  display: block;
  width: 280px;
  height: 60px;
  color: #ffffff;
  background-color: #81b3d2;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 60px;
}
