.search {
  width: 320px;
  margin: 0 auto;
  padding: 10px 20px 50px;
  text-align: center;
}

.search-title {
  color: #000000;
  font-size: 21px;
  margin-bottom: 20px
}

.search__title-text {
  text-transform: uppercase;
  line-height: 24px;
  margin-bottom: 35px
}
